@charset "UTF-8";

.header {
    background-color: #E0CBA8;
    text-align: center;
    padding: 20px;
    color: #4C1C00;
}

h2, h3, h5{
	text-align: center;
}

p{
	text-align: center;
}

.body{
	back-groundcolor: "";
}
